:root {
  --theme-color: #040b15;
} 

* {
  box-sizing: border-box;
}

html {
  font-family: 'Radio Canada', sans-serif;;
}

body {
  background-color: #e7e7e7;
}

.container {
  width: 80%;
  margin: auto;
}

h1 {
  margin:0;
  margin-bottom: 5px;
  font-weight: 800;
}

p {
  margin-top: 0;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  color: rgb(153, 153, 153);
  transition: color ease .4s;
}

/* header widget */

header {
  width: 100%;
  background-image:linear-gradient(var(--theme-color) 60%, #e7e7e7 60% 100%) ;
  color: #FFF;
  overflow: visible;
}

header .container {
  display: flex;
  flex-wrap: wrap;
}

header .self, header .social_media {
  width: 50%;
  margin: 50px 0 70px;
}

header .social_media {
  display: flex;
  justify-content: flex-end;
}

header .social_media span {
  border-radius: 50%;
  display: inline-block;
  width: 35px;
  height: 35px;
  box-shadow: 0 0 10px black;
  position:relative;
}

header .social_media span i {
  margin: auto;
  color: #FFF;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 15px;
}

header .social_media span:not(:last-child) {
  margin-right: 10px;
}

header .definition {
  width: 100%;
  position: relative;
  display: flex;
  background-color: #FFF;
  color: black;
}

header .definition img {
  width: 230px;
}
header .definition .details {
  padding: 20px;
  width: calc(100% - 230px);
  position: relative;
}

header .definition .details .info_details .self_info {
  border-bottom: 1px solid rgb(204, 204, 204);
  padding-bottom: 10px;
}

header .definition .details .info_details .self_info span.greet {
  padding: 5px 10px;
  position: relative;
  display: inline-block;
  background-color: var(--theme-color);
  color: #FFF;
  font-size: 13px;
  margin-bottom: 15px;
  border-radius: 3px;
}

header .definition .details .info_details .self_info span.greet::after {
  content: "";
  position: absolute;
  right: 7px;
  top: 24px;
  border: 10px solid var(--theme-color);
  border-right: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 10px solid transparent;
}

header .definition .details .info_details .self_info h2 {
  margin: 0 0 2px;
  /* position: relative; */
}

/* header .definition .details .info_details .self_info span.my_job {
  margin-bottom: 10px;
} */



header .definition .details .info_details .self_info span.name {
  color: var(--theme-color)
}


header .definition .details .info_details .self_det {

}

header .definition .details .info_details .self_det .keyword {
  font-weight: bold;
  padding-right: 20px;
}

header .definition .details .social_details {
  display: flex;
  align-items: stretch;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 50px;
  background-color: var(--theme-color);
  color: #FFF;
} 

header .definition .details .social_details span {
  width: calc(100% / 6);
  position: relative;
}

header .definition .details .social_details span i {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

